@import "index";

.header {
  text-align: center;
}

.title {
  text-align: center;
}

.lasttransactions {
  margin-top: 250px;
}

.leftcontent {
  float: left;
  margin-top:15px;
}

.rightcontent {
  float: right;
  margin-right:28%;
  margin-top:15px;
}