@import "index";

.logoutcontainer {
  padding-top:150px;
}

.btn-primary:hover{
  background-color: #592485;
  color: #C6BDC5;
}

.btn-primary{
  background-color: #592485 !important;
}

.btn-primary:focus {
  background-color: #592485;
}